In [16]:
#class Classname:
 #   def methods:

In [29]:
class Calculator:
    def __init__(self,num1,num2):
        self.num1=num1 #self.value1=num1
        self.num2=num2
        
    def sum(self,num3):
        return self.num1+self.num2 +num3
    def mul(self):
        return self.num1*self.num2

In [31]:
calc=Calculator(10,4)
calc.sum(2)

16

In [32]:
calc.mul()

40

In [90]:
class Person:
    count=0 # class attribute
    def __init__(self,name:str,address:str="kathmandu"):
        #initilizer or constructor
        self.name=name #instance attribute
        self.address=address
        Person.count+=1

In [91]:
person1=Person("hari")

In [92]:
person2=Person("abi")

In [93]:
person3=Person("la")

In [94]:
person1.count

3

In [95]:
person2.count

3

# Class Methods

In [115]:
class Ola:
    count=0
    def __init__(self,name:str,address="ktm"):
        self.name=name
        self.address=address
        
        Ola.count += 1
    def get_details(self): #instance method
        print(f"i am {self.name} and i stay at {self.address}")
    @classmethod
    def get_count(cls):#class method
        return cls.count
    @staticmethod
    def create_name(first,last):
        return f"{last},{first}"

In [116]:
st1=Ola("abi")

In [117]:
st1.name

'abi'

In [118]:
st1.get_details()

i am abi and i stay at ktm

In [119]:
st1.get_count()

1

In [120]:
st1.create_name("abi","khadka")

'khadka,abi'

In [161]:
class Stu:
    def __init__(self,sub1=0,sub2=0,sub3=0,total=0,average=0):
        self.sub1=sub1
        self.sub2=sub2
        self.sub3=sub3
        self.total=total
        self.average=average
    
    def totave(self):
        self.sub1=int(input("enter the marks of 1st sub"))
        self.sub2=int(input("enter the marks of 2nd sub"))
        self.sub3=int(input("enter the marks of 3rd sub"))
        self.total=self.sub1+self.sub2+self.sub3
        self.average=self.total/3
        return self.average

In [162]:
aver=Stu()

In [163]:
aver.totave()

enter the marks of 1st sub 20
enter the marks of 2nd sub 30
enter the marks of 3rd sub 40

30.0

In [179]:
class Stu2:
    def __init__(self,name,marks:list[int]):
        self.name=name
        self.marks=marks
    def tot(self):
        return sum(self.marks)
    def average(self):
        return self.tot()/len(self.marks)
    def display(self):
        print(f"name of student is: {self.name}")
        print(f"the average marks is: {self.average()}")
        print(f"the total marks obtained is : {self.tot()}")

In [180]:
pr=Stu2("abi khadka",[90,90,90])

In [181]:
pr.display()

name of student is: abi khadka
the average marks is: 90.0
the total marks obtained is : 270